* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
    border: 1px solid red;
}
#btn1, #btn2 {
    margin: 2rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
}
.popup {
    display: none;
    background-color: orange;
    position: absolute;
    border-radius: 1rem;
    border: 1px solid green;
    height: 60%;
    width: 60%;
    padding: 2rem;
}
.popup h1,p{
    margin: 2rem;
}
#popup_btn1, #popup_btn2, #popup_btn3, #popup_btn4 {
    padding: 0.5rem 2rem ;
    margin: 2rem;
    float: right;
}
